 



main, div {
	width: 50%;
	margin: 0 auto;
}




#buttons {
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

#showColor {
	font-size: 24px;
	text-align: center;
}

#whiteBoard {

	background-color: #eeffee;
	color: blue;
	width: 400px;
	height: 200px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
canvas {
	padding: 10px;
	margin: 0 auto;
	display: block;
	
}